/* DocumentsRequestForm.css */

/* Form container */
.form-container {
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* Adjust background color as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: 8rem;
  margin-top: 6rem;
}

/* Form elements */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Continue button */
button {
  width: 150px;
  padding: 10px;
  background-color: #186049;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #134D3A;
}

/* Back button */
.back-button {
  width: 150px;
  padding: 10px;
  background-color: #808080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Add margin to separate from the continue button */
}

.back-button:hover {
  background-color: #666666;
}

/* Continue button */
.continue-button {
  width: 150px;
  padding: 10px;
  background-color: #186049;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.continue-button:hover {
  background-color: #134D3A;
}


/* Button container */
.button-container-docureq {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Back button */
.back-button {
  width: 150px;
  padding: 10px;
  background-color: #808080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #666666;
}

/* Continue button */
.continue-button {
  width: 150px;
  padding: 10px;
  background-color: #186049;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.continue-button:hover {
  background-color: #134D3A;
}