/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Hide scrollbar in Firefox */
* {
  scrollbar-width: none;
}

/* EnrollmentForm.css */

.enrollment-form-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

.enrollment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}


.button-container-enroll {
  display: flex;
  justify-content: space-between;
}

.back-button,
.continue-button {
  width: 48%; /* Adjust the width based on your preference */
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover,
.continue-button:hover {
  background-color: #45a049;
}